.title-chung{
	text-align: center;
}
.title-chung h4{
	color: #5cb24e;
	display: block;
	font-weight: 600;
}
.contact-page form .form-input{
	display: block;
    width: 100%;
    min-height: 60px;
    padding: 16px 25px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #777;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 1px solid #e1e1e1;

}
.contact-page .info-right{
	list-style: none;
	border-left: 1px solid #ededed;
	color: #777;
	margin-left: 30px;
	padding-left: 30px;
}
.contact-page .info-right li {
    border-bottom: 1px solid #ededed;
    padding-bottom: 31px;
    margin-top: 30px;
}
.contact-page .info-right li:last-child {
    border-bottom: 0px solid #ededed;
    padding-bottom: 0;
}
.contact-page .info-right li p {
    font-weight: 600;
    color: #151515;
}
.contact-page .info-right li .fa {
    vertical-align: middle;
    font-size: 20px;
    color: #2ecc40;
    margin-right: 15px;
}
.maps-contact{
	padding-bottom: 30px;
}
@media(max-width: 991px){
	.contact-page .info-right{
		margin-left: 0px;
		padding-left: 30px;
	}
}
@media(max-width: 767px){
	.contact-page .col-sm-8{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.contact-page .col-sm-4{
		flex: 0 0 100%;
		max-width: 100%;
	}
	
}